p {
    font-size: inherit;
    line-height: inherit;
}

.categories-list-wrapper a:hover {
    color: #fff;
    text-decoration: none;
}
.categories-list-wrapper a:visited {
    color: #fff;
}

.breadcrumbs-wrapper a, .drop-down-select-wrapper a {
    color: inherit;
}

.footer-contact-us .subscribe-btn {
    width: 299px;
}
@media screen and (max-width: 768px) {
    .footer-contact-us .subscribe-btn {
        width: 100%;
    }

    .footer-links-texts, .footer-links-social {
        display: flex;
        justify-content: space-between;
    }

    .c-footer .footer-links .footer-links-texts li {
        margin-right: 0;
    }
}

.footer-logos>p{
    margin-left: 20px;
} 